<?xml version="1.0" encoding="UTF-8"?>

     <phpunit bootstrap="bootstrap.php"
            colors="true"
            verbose="true"
            stopOnFailure="false">
        <testsuites>
            <testsuite name="Testes Unitários Pix">
                <directory>gerencianet</directory>
            </testsuite>
        </testsuites>
    </phpunit>
