#gn-btn-retry {
    background-color: #f0f0f0;
    color: #444;
    border: 1px solid #ccc;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}